{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Quiénes Somos - Canacintra{% endblock %}

{% block content %}
<div class="content-page">
    <h1>Quiénes Somos (About Us)</h1>
    <p>
        La Cámara Nacional de la Industria de Transformación (CANACINTRA) es el organismo empresarial que representa los intereses legítimos del Sector Industrial de México.
    </p>
    <p>
        Fundada en 1941, CANACINTRA es considerada, por su cobertura, representatividad e infraestructura, como la cámara más importante de toda Latinoamérica, lo que le permite atender eficazmente las necesidades de sus industrias afiliadas.
    </p>
</div>
{% endblock %}