{% extends 'partials/base.html' %} 
{% load static %}
{% block title %}Inicio{% endblock %} 
{% block content %}
{% include "partials/carrusel.html" %}

<section class="section posts-entry posts-entry-sm bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="posts-entry-title">Noticias</h2>
      </div>
      <div class="col-sm-6 text-sm-end">
        <a href="{% url 'categoria1' %}" class="read-more">View All</a>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="blog-entry">
          <a href="{% url 'ghost' %}" class="img-link">
            <img
              src="{% static 'images/paisaje_ghost.jpg' %}"
              alt="Image"
              class="img-fluid"
            />
          </a>
          <span class="date"> 17 de julio de 2020</span>
          <h2>
            <a href="{% url 'ghost' %}">Ghost of Tsushima</a>
          </h2>
          <p>“Ghost of Tsushima™ es un juego de acción en mundo abierto ambientado en el Japón feudal. 
            El protagonista es Jin Sakai, un samurái que lo arriesga todo para defender la isla de Tsushima de la...</p>
          <p><a href="{% url 'ghost' %}" class="read-more">Continue Reading</a></p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="blog-entry">
          <a href="{% url 'planetas' %}" class="img-link">
            <img
              src="{% static 'images/planetas.jpg' %}"
              alt="Image"
              class="img-fluid"
            />
          </a>
          <span class="date">4 de marzo de 2025</span>
          <h2>
            <a href="{% url 'planetas' %}">Sistema Solar</a>
          </h2>
          <p>¿Qué es el sistema solar? ¿Cuáles son las partes que lo conforman? ¿Dónde se encuentra el sistema solar 
            dentro de la galaxia? ¿Cuáles son sus límites espaciales? ¿Cómo se...</p>
          <p><a href="{% url 'planetas' %}" class="read-more">Continue Reading</a></p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="blog-entry">
          <a href="{% url 'planetas' %}" class="img-link">
            <img
              src="{% static 'images/libro.jpg' %}"
              alt="Image"
              class="img-fluid"
            />
          </a>
        
          <span class="date">14 de abril 2022</span>
          <h2>
            <a href="{% url 'libros' %}">Libros</a>
          </h2>
          <p>Bienvenido a un mundo de infinitas posibilidades, donde el viaje es tan emocionante como el destino, 
            y donde cada momento es una oportunidad para dejar volar tu imaginación. Cuando baje la marea Ver más 
            La sombra último tren Ver más La ...</p>
          <p><a href="{% url 'libros' %}" class="read-more">Continue Reading</a></p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="blog-entry">
          <a href="{% url 'flow' %}" class="img-link">
            <img
              src="{% static 'images/pelicula.jpg' %}"
              alt="Image"
              class="img-fluid"
            />
          </a>
          <span class="date">29 de agosto de 2025</span>
          <h2>
            <a href="{% url 'flow' %}">Flow</a>
          </h2>
          <p>Flow, un mundo que salvar, ¿Quién dijo que los gatos le tienen miedo al agua? Ganadora del Óscar,
            esta bella y deslumbrante perla animada se ha consagrado como el gran descubrimiento...</p>
          <p><a href="{% url 'flow' %}" class="read-more">Continue Reading</a></p>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 mb-4">
        <div class="post-entry-alt">
          <a href="{% url 'pintura' %}" class="img-link">
            <img src="{% static 'images/pinturas.jpg' %}" alt="Image" class="img-fluid">
          </a>
          <div class="excerpt">
            <span class="date">28 de julio de 1999 </span>
            <h2>
              <a href="{% url 'pintura' %}">Vincent van Gogh</a>
            </h2>
            <div class="post-meta align-items-center text-left clearfix">
              </div>
            <p>Vincent Willem van Gogh fue un pintor neerlandés y una de las figuras más influyentes del posimpresionismo. 
              Aunque solo vendió una obra en vida (La viña roja), se convirtió....</p>
            <p><a href="{% url 'pintura' %}" class="read-more">Continue Reading</a></p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 mb-4">
        <div class="post-entry-alt">
          <a href="{% url 'minecraft' %}" class="img-link">
            <img src="{% static 'images/minecraft.jpg' %}" alt="Image" class="img-fluid">
          </a>
          <div class="excerpt">
            <span class="date"> 9 de diciembre de 2019</span>
            <h2>
              <a href="{% url 'minecraft' %}">Minecraft</a>
            </h2>
            <div class="post-meta align-items-center text-left clearfix"> 
            </div>
            <p>Sumérgete en un mundo abierto de construcción, creación y supervivencia en Minecraft: 
              el mejor juego sandbox simulador de construcción. Recolecta recursos, sobrevive a la noche y construye...</p>
            <p><a href="{% url 'minecraft' %}" class="read-more">Continue Reading</a></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="post-entry-alt">
          <a href="{% url 'paisajes' %}" class="img-link">
            <img src="{% static 'images/paisajes.jpg' %}" alt="Image" class="img-fluid">
          </a>
          <div class="excerpt">
            <span class="date">29 de mayo de 2023</span>
            <h2>
              <a href="{% url 'paisajes' %}">LOS HERMOSOS PAISAJES DE LA NATURALEZA</a>
            </h2>
            <div class="post-meta align-items-center text-left clearfix">
            </div>
            <p>Contempla los lugares más hermosos sobre la faz de la tierra gracias a estas imágenes de paisajes. 
              Descubre rincones llenos de luz y color, mares de aguas cristalinas y vistas de ensueño.</p>
            <p><a href="{% url 'paisajes' %}" class="read-more">Continue Reading</a></p>
          </div>
        </div>
      </div>
    </div> 
  </div> 
</section>
{% endblock content %}