{% extends 'base.html' %}
{% load static %}

{% block title %}Misión - Canacintra{% endblock %}

{% block content %}
<div class="content-page">
    <h1>Misión</h1>
    <p>
        Representar, defender y promover, bajo el marco legal y de los valores expresados en la Carta de la Tierra, los intereses de los afiliados y del sector INDUSTRIAL de México.
    </p>
    <p>
        Influir eficazmente en el desarrollo, sustentabilidad, innovación, competitividad e integración de industrias, sectores y regiones, mediante servicios de alta calidad.
    </p>
</div>
{% endblock %}