{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Visión - Canacintra{% endblock %}

{% block content %}
<div class="content-page">
    <h1>Visión</h1>
    <p>
        Ser la Cámara Industrial líder que posiciona sus propuestas ante los gobiernos Federal, Estatal y Municipal, así como con el poder legislativo.
    </p>
    <p>
        Una cámara que finca su fortaleza en la vinculación, la inteligencia y el desarrollo empresarial, y cuenta con amplia gama de servicios de innovación que la ubica como referente en el diseño de políticas públicas y responsabilidad social empresarial.
    </p>
</div>
{% endblock %}