{% load static %}
<nav class="site-nav">
  <div class="container">
    <a href="{% url 'index' %}" class="logo">Canacintra<span class="text-primary">.</span></a>
    <ul class="site-menu">
      <li class="active"><a href="{% url 'index' %}">Inicio</a></li>

      <li class="has-children">
        <a href="#">Categorías</a>
        <ul class="dropdown">
          <li><a href="{% url 'categoria1' %}">Categoria 1</a></li>
          <li><a href="{% url 'categoria2' %}">Categoria 2</a></li>
          <li><a href="{% url 'categoria3' %}">Categoria 3</a></li>
        </ul>
      </li>

      {% if user.is_authenticated %}
      <li class="has-children">
        <a href="#"><i class="bi bi-person-circle"></i> Cuenta</a>
        <ul class="dropdown">
          <li><a href="{% url 'perfil_admi' %}">Perfil</a></li>
          <li><a href="{% url 'configuracion' %}">Configuración</a></li>
          <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
        </ul>
      </li>
      {% else %}
      <li><a href="{% url 'login' %}"><i class="bi bi-box-arrow-in-right"></i> Iniciar sesión</a></li>
      {% endif %}
    </ul>

    <form action="#" class="search-form">
      <input type="text" placeholder="Buscar..." />
      <i class="bi bi-search"></i>
    </form>
    
    <label class="theme-switch" for="theme-toggle">
      <input type="checkbox" id="theme-toggle" />
      <span class="slider"></span>
    </label>
  </div>
</nav>